/encoding_cache.json
/Package Control.cache/01524fae79697630d0454ba3fabd9414
/Package Control.cache/01524fae79697630d0454ba3fabd9414.info
/Package Control.last-run
/Package Control.merged-ca-bundle
/Package Control.system-ca-bundle
/Package Control.user-ca-bundle
ColorPicker
/Color Highlighter/themes/Monokai Extended (SL).tmTheme
/Color Highlighter/themes/Monokai Extended Origin (SL).tmTheme
/Color Highlighter/themes/Monokai Soda (SL).tmTheme
/SFTP.errors.log
/1self.sublime-settings
/oscrypto-ca-bundle.crt
