#以下の拡張子は無視
*.errors.log

# 以下のファイルは無視
1self.sublime-settings
encoding_cache.json
oscrypto-ca-bundle.crt
Package Control.last-run
Package Control.merged-ca-bundle
Package Control.system-ca-bundle
Package Control.user-ca-bundle
gmail_*.sublime-snippet

# 以下のディレクトリ内は無視
c2u_tmp/
ColorPicker/
Color Highlighter/themes/
Color Highlighter/themes/
Color Highlighter/themes/
Package Control.cache/
